/*
h1{
  font-weight: bold;
  color: #010079;
  color: #010079;
  text-shadow: 0 0 5px white;
  width: 300px;
  background: linear-gradient(transparent 70%, darkgray 70%);
}
*/

.button{
    background-color: darkblue;
    text-shadow: 0 0 1px white;
    text-align: center;
    margin-top: 5px;
    height: 40px;
    padding-top: 5px;
}

.button a{
    display: block;
    color: white;
}

.button:hover{
    border: 2px solid darkblue;
    background-color: white;
}

.button a:hover{
    color: darkblue;
    text-decoration: none;
}

.button2{
    background-color: darkred;
    text-shadow: 0 0 1px white;
    text-align: center;
}

.button2 a{
    display: block;
    color: white;
}

.button2:hover{
    border: 2px solid darkred;
    background-color: white;
}

.button2 a:hover{
    color: darkred;
    text-decoration: none;
}

.text-area{
    background-color: white;
    box-shadow: 0 0 5px white;
    height: auto;
    padding: 50px;
    line-height: 60px;
    font-size: 20px;
    margin-bottom: 45px;
    font-family: bold;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #3b3b3b;
    color: white;
    text-align: center;
}

.loading {
font-size:48px;
position:relative;
height:1em;
width:1em;
padding-left:0.45em;
overflow:hidden;
margin:0 auto;
	-webkit-animation:loader-rotate 0.5s steps(12) infinite;
	-moz-animation:loader-rotate 0.5s steps(12) infinite;
	-ms-animation:loader-rotate 0.5s steps(12) infinite;
	-o-animation:loader-rotate 0.5s steps(12) infinite;
	animation:loader-rotate 0.5s steps(12) infinite;
}

.loading i {
margin-top: 100px;
display:block;
position:absolute;
height:0.3em;
width:0.1em;
border-radius:0.05em;
background:rgba(255,255,255,0.8);
transform:rotate(-30deg);
transform-origin:center 0.5em;
}

@-webkit-keyframes loader-rotate {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}
@-moz-keyframes loader-rotate {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}
@-ms-keyframes loader-rotate {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}
@-o-keyframes loader-rotate {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}
@keyframes loader-rotate {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

.wrapper-load{
    padding-top: 250px;
}